<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Login</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <div class="signup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"><br>
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">log in via</span></span>
        </div>
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i></i>
            Log in with Google
          </button>
        </div>
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.FacebookAuth()">
            <i></i>
            Log in with Facebook
          </button>
        </div><br>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user" ><br><a class="sign" >Sign Up</a></span></span>
      </div>
    </div>
  </div>
  